.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  margin: 0;
  padding: 0;
  >.menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    border-bottom: $menu-item-active-border-width solid transparent;
    &:hover, &:focus {
      text-decoration: none;
    }
    &.disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.menu-vertical {
  flex-direction: column;
  align-items: start;
  border-bottom: none;
  border-right: $menu-border-width solid $menu-border-color;
  margin: 0;
  >.menu-item {
    border-left: $menu-item-active-border-width solid transparent;
    &:hover, &.active {
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
  >.submenu {
    .submenu-title {
      width: 100%;
      display: flex;
      align-items: center;
    }
    .submenu-popup {
      >.menu-item {
        width: 100%;
        list-style: none;
        padding-left: 15px $menu-item-padding-y 0;
        text-align: left;
        border-left: $menu-item-active-border-width solid transparent;
        &.active, &:hover {
          border-bottom: none;
          border-left: $menu-item-active-border-width solid $menu-item-active-color;
        }
      }
    }
    &:hover, &.active {
      .submenu-title {
        border-left: $menu-item-active-border-width solid $menu-item-active-color;
      }
    }
  }

}

.menu-horizontal {
  >.menu-item {
    &.active, &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
  >.submenu {
    position: relative;
    .arrow-icon {
      margin-left: 3px;
      transition: transform 0.25s ease-in-out;
    }
    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
    .submenu-title {
      display: flex;
      align-items: center;
    }
    .submenu-popup {
      position: absolute;
      list-style:none;
      white-space: nowrap;
      background: white;
      top: calc(100% + 8px);
      left: 0;
      height: inherit;
      padding: 0;
      max-height: 200px;

      .menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;
        color: $body-color;
        &.is-active, &:hover {
          color: $menu-item-active-color !important;
        }
      }
    }
    .submenu-popup.menu-open {

    }
  }
}

